.div
{
    background-color: aquamarine;
}
ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 50px;
  list-style-type: none;
}
li *
{
    text-decoration: none;
    color: rgb(250, 250, 250);
    border: solid rgb(113, 170, 151) 2px;
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(113, 170, 151);
}
#main
{
    text-align: center;
    background-color: rgb(177, 149, 204);
}
.container {
  display: flex;
  align-items: center; 
  gap: 20px;          
}

.Image img {
  width: 200px;        
  height: auto;
}

.Text p {
  margin: 5px;
}